@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css');


@import "tailwindcss";


@layer utilities {
    .pastel-filter {
        filter: brightness(1.15) contrast(0.9) saturate(1.15);
    }
}